.header-title {
  margin: 0px;
}
.logo {
  width: 120px;
}
.home {
  margin-right: 10px;
}

.menu-nav {
  display: flex;
  align-items: center;

}
a {
  color: black;
}
.is-active {
  color: white;
}


.txt-deco{
  text-decoration: none;
}
