<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ myProduct.title | uppercase }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image class="image-prod" [src]="myProduct.imageUrl" />
  <mat-card-content>
    <p>
      {{ myProduct.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="card-footer">
      <p *ngIf="myProduct.size && myProduct.size.length > 1">Plusieurs tailles disponibles</p>
      <b>{{ myProduct.price / 100 | number | currency: 'EUR':true:'1.1' }} </b>
      <p>
        <button  (click)="onLike()">
          <b [ngStyle]="{ color: myProduct.likes > 0 ? 'green' : 'red' }">{{ myProduct.likes }} ♥ </b>
        </button>
      </p>
    </div>
    <div>{{ myProduct.createdDate | date: 'fullDate' }}</div>
  </mat-card-actions>
</mat-card>
