.header {
  margin: 0;
  padding: 15px;
  background: dodgerblue;
}

app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer {
  margin: 0;
  padding: 15px;
  background: dodgerblue;
}
app-footer {
  display: flex;
  justify-content: center;
  text-align: center;
}
