<div class="search">
  <mat-form-field class="searchbar" appearance="fill">
    <mat-label>Recherche</mat-label>
    <input matInput placeholder="Produit" [(ngModel)]="search" />
  </mat-form-field>
</div>
<div>
  Trier par :
  <select [(ngModel)]="order">
    <option value="asc">Ancien</option>
    <option value="dsc">Récent</option>
    <option value="A-Z">A-Z</option>
    <option value="Z-A">Z-A</option>
  </select>
</div>
<div class="products">
  <div class="position-card" *ngIf="order === 'asc' || order === 'dsc'">
    <a *ngFor="let product of products | sortByDate: order | filterByName: search" [routerLink]="['product', product.id]">
      <app-product-card [myProduct]="product"></app-product-card>
    </a>
  </div>
  <div class="position-card" *ngIf="order === 'A-Z' || order === 'Z-A'">
    <a  *ngFor="let product of products | sortByName: order | filterByName: search" [routerLink]="['product', product.id]">
      <app-product-card [myProduct]="product"></app-product-card>
    </a>
  </div>
  <div class="position-card" *ngIf="order === ''">
    <a *ngFor="let product of products | filterByName: search" [routerLink]="['product', product.id]" class="txt-deco" >
      <app-product-card  [myProduct]="product"></app-product-card>
    </a>
  </div>
</div>
